html {
  box-sizing:border-box;
}

*, *::before, *::after {
  box-sizing:inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app {
  width: 980px;
  padding: 5px 0;
  margin: auto;
}

.homePage {
  width: 100%;

  display: flex;
  padding: 5px;
}

.home1 {
  width: 200px;
  margin: 10px;
}

.home2 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.home3 {
  width: 115px;
  margin: 10px;
}

.sideBox {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  margin: 0px 10px;
  font-size: 12px;
  border-left: solid 1px  rgba(38,40,70,.5);
  border-right: solid 1px  rgba(38,40,70,.5);
  background-color: rgba(220, 220, 220,.3);
}

.sideTitle {
    color: rgb(128,23,39);

    margin: 0;
}

.sideTitle h2 {
    font-weight: 500;
}

/* .sideTitle h2 {
    font-weight: 400;
} */

/* .sideTitle h2 {
    font-weight: 400;
} */

/* .sideTitle h2 {
    font-weight: 400;
} */

.sideList {
    margin: 0px;
    width: 100%;
}

.sideList ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: rgb(61,84,143);
    margin: 0;
}

.sideList ul li {
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: rgb(61,84,143);
    margin-left: -15px;
}

.sideLink {
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: rgb(61,84,143);
    margin: 0;
}

.titleBox {
  width: 100%;
  height: 50px;
  border-top: solid 1px  rgba(38,40,70,.5);
  border-bottom: solid 1px  rgba(38,40,70,.5);
  text-align: center;
  color: rgb(128,23,39);
  background-color: rgba(220, 220, 220,.3);
}

.titleBox h1 {
  margin: 5px;
}

.catsBox {
  width: 645px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.cats1 {
  width: 33%;


  display: flex;
  flex-direction: column;
}

.cats2 {
  width: 40%;

  display: flex;
  flex-direction: column;
}

.cats3 {
  width: 27%;

  display: flex;
  flex-direction: column;
}

.catTitle {
  border-top: solid 1px  rgba(220, 220, 220,.8);
  border-bottom: solid 1px  rgba(220, 220, 220,.8);
  background-color: rgba(220, 220, 220,.3);
  color: rgb(61,84,143);
  font-weight: 600;
  text-align: center;
  width: 80%;
  height: 30px;
  margin: auto;
}

.catTitle h3 {
  margin: 0;
  text-decoration: none;
}

.catTitle h3 a {
  text-decoration: none;
}

.catFlex1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
  justify-content: flex-start;
  align-items: flex-start;
}

.catFlex2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height:300px;
  justify-content: flex-start;
  align-items: flex-start;
}

.catFlex3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
  justify-content: flex-start;
  align-items: flex-start;
}

.childCats {
  list-style: none;
  color: rgb(61,84,143);
  font-size: 12px;
  border-bottom: solid 1px  rgba(220, 220, 220,.8);
  width: 45%;
  margin-left: -15px;
}

.childCats a {
  color: rgb(61,84,143);
  text-decoration: none;
  font-size: 12px;
}

.locsBox {
  width: 130px;
  margin: 0;
  padding: 20px 10px;
  text-align: center;
  border-left: solid 1px  rgba(38,40,70,.5);
  border-right: solid 1px  rgba(38,40,70,.5);
  background-color: rgba(220, 220, 220,.3);
  color: rgb(61,84,143);
  text-decoration: none;
  font-size: 12px;
}

.locTitle {
  padding: 2px;
  border-top: solid 1px  rgba(220, 220, 220,.8);
  border-bottom: solid 1px  rgba(220, 220, 220,.8);
  background-color: white;
  color: rgb(61,84,143);
  font-weight: 800;
}

.listLoc {
  list-style: none;
  color: rgb(61,84,143);
  font-size: 12px;
  margin-left: -35px;
}

.listLoc a {
  text-decoration: none;
  color: rgb(61,84,143);
}

.footBox {
  width: 100%;
  height: 30px;
  border-top: solid 1px  rgba(38,40,70,.5);
  border-bottom: solid 1px  rgba(38,40,70,.5);
  text-align: center;
  color: rgb(128,23,39);
  background-color: rgba(220, 220, 220,.3);
}

.postPic img{
  width: 300px;
}

.postBody {
  width: 800px;
}

.listPost {
  list-style: none;
}

.postForm {

}

.formHeader {
  color: rgb(128,23,39);
}

.formTitle {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formBody {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formLoc {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formPic {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formButton {

}